* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
}

.container {
  margin: auto;
  margin-top: 5%;
  height: 500px;
  width: 750px;
  border-radius: 20px;
  box-shadow: 0px 0px 40px -15px black;
  display: flex;
  background-color: white;
  margin-bottom: 20px;
  font-family: "Hanken Grotesk", sans-serif;
}
.left {
    background: linear-gradient(
        156deg,
        rgba(0, 0, 210, 1) 20%,
        rgba(40, 40, 255, 1) 60%,
        rgba(73, 73, 255, 1) 100%
      );
  border-radius: 20px;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  .s-20 {
    text-align: center;
    display: flex;
    align-items: center;
    color: rgb(209, 209, 209);
    font-size: 175%;
    font-weight: 700;
  }
  .round {
    border-radius: 100%;
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 150%;
    color: rgb(209, 209, 209);
    background: linear-gradient(
      156deg,
      rgba(0, 0, 180, 1) 0%,
      rgba(40, 40, 234, 1) 60%,
      rgba(73, 73, 255, 1) 100%
    );
    span {
      font-weight: 700;
      font-size: 250%;
      color: white;
    }
  }
  .s-40 {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(209, 209, 209);
    height: 30%;
    span {
      font-weight: 700;
      font-size: 175%;
      color: white;
      margin-bottom: 15px;
    }
  }
}

.right {
  border-radius: 20px;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 25px 40px;
  .title {
    height: 10%;
    display: flex;
    align-self: flex-start;
    font-weight: 700;
    font-size: 150%;
    margin-top: 15px;
  }
  .content {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   
  }
  .item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 120%;
    padding: 18px 16px;
    border-radius: 8px;
    font-weight: bolder;
    i{
        margin-right: 5px;
    }
    .black {
      color: black;
      span {
        color: rgb(134, 134, 134);
      }
    }
  }
  .red {
    background-color: rgba(255, 194, 194, 0.61);
    color: rgb(173, 57, 57);
  }
  .yellow {
    background-color: rgba(252, 255, 194, 0.61);
    color: rgb(135, 137, 36);
  }
  .green {
    background-color: rgba(194, 255, 208, 0.61);
    color: rgb(67, 152, 75);
  }
  .blue {
    background-color: rgba(206, 194, 255, 0.61);
    color: rgb(83, 61, 170);
  }
  button{
      background-color: rgb(57, 57, 234);
      width: 100%;
      height: 12%;
      font-size: 100%;
      color: white;
      border-radius: 50px;
      border: 0;
  }
  button:hover{
    cursor: pointer;
  }
}

.s-20 {
  height: 20%;
}

.s-40 {
  height: 40%;
}

.s-60 {
  height: 60%;
}

.right {
  width: 50%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
